// Vars and var overrides
//black background
$navbar-background: #272822 !default;
$list-striped-background: #333 !default;
$global-background: #272822 !default;
$base-code-background: #444 !default;
$global-emphasis-color: #fff !default;

//reversed text color
$global-color: #ddd !default;
$global-inverse-color: #fff !default;
$base-code-color: #fff !default;
$totop-color: #ddd !default;
//$global-muted-color: #ddd !default;

//links to the new colors
$base-link-color: #008088 !default;
$base-link-hover-color: #006565 !default;

//global color background (most of them are labels now)
$global-primary-background: #006780 !default;
$global-success-background: #12b276 !default;
$global-warning-background: #ea904a !default;
$global-danger-background: #9a132a !default;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//eg: @mixin hook-card() { color: rgb(192, 49, 49); }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";